// entwine component before the react component has loaded
// styles are set to prevent a FOUT
.SudoModePasswordField {
  min-height: 108px;

  @include media-breakpoint-up(lg) {
    min-height: 140px;
  }

  .form__field-holder input {
    display: none;
  }
}

// React component
.sudo-mode-password-field {
  @include media-breakpoint-up(lg) {
    width: 100%;
    max-width: 700px;
    margin-left: $form-check-input-gutter;
  }

  // Reactstrap requires form feedback to be placed in the same input group as the field
  // that is marked as invalid, which causes Bootstrap to remove these properties from the
  // attached button. This restores the properties to what they were.
  .sudo-mode__verify-button {
    border-top-right-radius: 0.23rem;
    border-bottom-right-radius: 0.23rem;
  }
}

.sudo-mode-password-field__inner {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.sudo-mode-password-field__notice {
  margin-bottom: 0;
}

.sudo-mode-password-field__notice-button {
  margin-right: 1rem;
}

.sudo-mode-password-field__notice-help {
  margin-left: 3px;
}

.sudo-mode-password-field__verify {
  margin-top: 1rem;
}

.sudo-mode-password-field__verify-form-group.form-group {
  margin: 0;
}
